<div class="row">
    <div class="card col p-1 m-1">
        <div class="ui statistic">
            <div class="label">
              Confirmed
            </div>
            <div class="value">
                <h1>{{ totalConfirmed }}</h1>
            </div>
          </div>
    </div>
    <div class="card col p-1 m-1">
        <div class="ui statistic">
            <div class="label">
              Active
            </div>
            <div class="value">
              <h1>{{ totalActive }}</h1>
            </div>
          </div>
    </div>
    <div class="card col p-1 m-1">
        <div class="ui statistic">
            <div class="label">
                Recovered
            </div>
            <div class="value">
                <h1>{{ totalRecovered }}</h1>
            </div>
          </div>
    </div>
    <div class="card col p-1 m-1">
        <div class="ui statistic">
            <div class="label">
              Deaths
            </div>
            <div class="value">
                <h1>{{ totalDeaths }}</h1>
            </div>
          </div>
    </div>
</div>